@font-face {
    font-family: 'Mazzardh-regular';
    src: url('assets/fonts/mazzardh-regular.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Mazzardh-bold';
    src: url('assets/fonts/mazzardh-bold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

